
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutUs</h2>


<div class="container">

</div>

 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas, sem eu hendrerit vulputate, tortor augue gravida magna, in auctor eros odio eu lorem. Fusce vitae ante neque. Phasellus lobortis consequat dapibus. Proin consequat, leo et rutrum egestas, felis purus feugiat velit, eu mollis velit turpis at neque. Nullam eget blandit ligula. Fusce libero mi, molestie sit amet risus ut, sollicitudin egestas nisl. Cras convallis hendrerit nulla a interdum. Aenean placerat tristique ante, sed viverra massa accumsan ut. Aliquam porta arcu posuere, finibus magna a, pellentesque ligula. Aenean ac eleifend ante. Phasellus ac ex gravida, maximus odio nec, volutpat orci. Vestibulum gravida nisi lectus, in interdum justo laoreet quis. Nullam turpis velit, varius vel ipsum in, egestas gravida nunc. Nunc nec ipsum viverra lectus maximus commodo nec et nulla. Maecenas placerat orci risus, tempus egestas augue convallis sed. Aliquam sagittis scelerisque consectetur.


    Donec quam dui, molestie quis dapibus vitae, facilisis id est. Maecenas auctor enim nunc, eget laoreet urna suscipit nec. Cras porta aliquam orci, vel commodo magna tincidunt ut. Vivamus dictum imperdiet commodo. Ut auctor vestibulum justo, dapibus varius elit laoreet non. Morbi dignissim tincidunt dui, eget scelerisque dui suscipit id. Maecenas aliquam velit et odio tempor blandit. Etiam.
