@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Radosny Koń</h1>
            <div class="list-group">
                <a href="#" class="list-group-item">MODA DAMSKA</a>
                <a href="#" class="list-group-item">MODA MĘSKA</a>
                <a href="#" class="list-group-item">KOŃ W PRACY</a>
                <a href="#" class="list-group-item">KOŃ W STAJNI</a>
                <a href="#" class="list-group-item">PROMOCJE</a>
                <a href="#" class="list-group-item">NOWOŚCI</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut malesuada ligula. Etiam viverra eget risus eget placerat. Aenean porttitor leo quis consequat cursus. Etiam vestibulum eros nec malesuada fermentum. Vestibulum eget sem justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nisl dolor, fermentum a sollicitudin et, tempus et turpis. Nulla dui enim, finibus sed lacinia ut, fermentum eget libero. Morbi dignissim facilisis sem, et convallis metus facilisis eu. Pellentesque nec venenatis libero. Proin in hendrerit felis. Sed enim arcu, vulputate non sem sit amet, efficitur rhoncus est. Quisque convallis condimentum velit vel.

            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<br /><br /><br /><br /><br /><br /><br /><br />
<!-- /.container -->

