@model Sklep_internetowy.Models.Order

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Content -->
<div class="container" >

    <div class="row">

        <div class="col-lg-3">
            @Html.Action("MainCategoriesMenu", "Home")
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9" style="position:relative">
            <div style="position:absolute; top: 100px;" >
                <h3 class="text-center">Twoje zamówienie zostało przyjęte do realizacji!</h3>
            </div>
        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>





